@model List<PokemonMove>
@{
    ViewBag.Title = "Display All Moves";
}
<head>
    <h1 class="text-center">Pokemon Moves</h1>
</head>
<form asp-controller="Move" asp-action="DisplayAllMoves" method="get">
    <p>
        Search by Name: <input type="text" name="searchName" />
        Search by Type: <input type="number" name="searchType" />
        Search by Category: <input type="text" name="searchCategory" />
        <input type="submit" value="Filter" />
    </p>
    <p class="text-center">
        <h6 class="text-center">Move Types</h6>
        1 = Normal, 2 = Fire, 3 = Water, 4 = Grass, 5 = Electric, 6 = Ice, 7 = Fighting, 8 = Poison, 9 = Ground, 10 = Flying, 11 = Psychic, 12 = Bug, 13 = Rock, 14 = Ghost, 15 = Dragon, 16 = Dark, 17 = Steel, 18 = Fairy
    </p>
    <h6 class="text-center">Move Categories</h6>
    <p class="text-center">
        Physical | Special | Non-Damage Dealing
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Category</th>
            <th scope="col">Attack Strength</th>
            <th scope="col">Accuracy</th>
            <th scope="col">Power Points</th>
            <th scope="col">Additional Effect</th>
            <th scope="col">Prob. of Addtnl. Effect</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model)
        {
            <tr>
                <td scope="row">@m.MoveName</td>
                <td>@m.MoveType</td>
                <td>@m.MoveCategory</td>
                <td>@m.MovePower</td>
                <td>@m.MoveAccuracy</td>
                <td>@m.MovePoints</td>
                <td>@m.MoveEffect</td>
                <td>@m.MoveEffectProb</td>
            </tr>
        }
    </tbody>
</table>
<footer class="align-content-center">
    <a class="btn btn-primary align-content-center" asp-controller="Home" asp-action="ContentHub">Return to Content Hub</a>
</footer>