@model TeamBaseAnalysisViewModel 
@{
    ViewBag.Title = "Base Team Analysis";
}

<!-- This will be where players analyze the strengths/weaknesses of their teams -->

<header>
    <h1 class="text-center">Base Team Analysis</h1>
    <p class="text-center">This is the page where players analyze the strengths/weaknesses of their Base Teams</p>
</header>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Team Name</th>
                <th scope="col">User ID</th>
                <th scope="col">Pokémon One</th>
                <th scope="col">Pokémon Two</th>
                <th scope="col">Pokémon Three</th>
                <th scope="col">Pokémon Four</th>
                <th scope="col">Pokémon Five</th>
                <th scope="col">Pokémon Six</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">@Model.TeamBase.TeamBaseName</td>
                <td>@Model.TeamBase.UserId</td>
                <td>@Model.TeamBase.PokemonOne.PokemonName</td>
                <td>@Model.TeamBase.PokemonTwo.PokemonName</td>
                <td>@Model.TeamBase.PokemonThree.PokemonName</td>
                <td>@Model.TeamBase.PokemonFour.PokemonName</td>
                <td>@Model.TeamBase.PokemonFive.PokemonName</td>
                <td>@Model.TeamBase.PokemonSix.PokemonName</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <h4 class="text-center">Team Average Stats</h4>
    <p class="text-center">Calculates the average stats for all 6 Pokemon.</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Base Stat Total</th>
                <th scope="col">Hit Points</th>
                <th scope="col">Attack</th>
                <th scope="col">Defense</th>
                <th scope="col">Special Attack</th>
                <th scope="col">Special Defense</th>
                <th scope="col">Speed</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">@Model.TeamStatAverages[0]</td>
                <td>@Model.TeamStatAverages[1]</td>
                <td>@Model.TeamStatAverages[2]</td>
                <td>@Model.TeamStatAverages[3]</td>
                <td>@Model.TeamStatAverages[4]</td>
                <td>@Model.TeamStatAverages[5]</td>
                <td>@Model.TeamStatAverages[6]</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <h4 class="text-center">Type Analysis</h4>
    <p class="text-center">Analyzes the overall strengths and weaknesses of the team with regards to each Pokemon type. A positive number indicates that the team has an advantage against that particular type, while a negative number indicates a weakness to that type.</p>
    <p class="text-center text-danger">(Note: The analysis algorithm currently does not account for how some dual-types cancel out one another's weaknesses. This is still a work in progress.)</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Normal</th>
                <th scope="col">Fire</th>
                <th scope="col">Water</th>
                <th scope="col">Grass</th>
                <th scope="col">Electric</th>
                <th scope="col">Ice</th>
                <th scope="col">Fighting</th>
                <th scope="col">Poison</th>
                <th scope="col">Ground</th>
                <th scope="col">Flying</th>
                <th scope="col">Psychic</th>
                <th scope="col">Bug</th>
                <th scope="col">Rock</th>
                <th scope="col">Ghost</th>
                <th scope="col">Dragon</th>
                <th scope="col">Dark</th>
                <th scope="col">Steel</th>
                <th scope="col">Fairy</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">@Model.TeamTypeAnalysis[0]</td>
                <td>@Model.TeamTypeAnalysis[1]</td>
                <td>@Model.TeamTypeAnalysis[2]</td>
                <td>@Model.TeamTypeAnalysis[3]</td>
                <td>@Model.TeamTypeAnalysis[4]</td>
                <td>@Model.TeamTypeAnalysis[5]</td>
                <td>@Model.TeamTypeAnalysis[6]</td>
                <td>@Model.TeamTypeAnalysis[7]</td>
                <td>@Model.TeamTypeAnalysis[8]</td>
                <td>@Model.TeamTypeAnalysis[9]</td>
                <td>@Model.TeamTypeAnalysis[10]</td>
                <td>@Model.TeamTypeAnalysis[11]</td>
                <td>@Model.TeamTypeAnalysis[12]</td>
                <td>@Model.TeamTypeAnalysis[13]</td>
                <td>@Model.TeamTypeAnalysis[14]</td>
                <td>@Model.TeamTypeAnalysis[15]</td>
                <td>@Model.TeamTypeAnalysis[16]</td>
                <td>@Model.TeamTypeAnalysis[17]</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-4">
        <form id="@Model.TeamBase.TeamBaseId" asp-controller="TeamVgc" asp-action="VGCAnalysis" method="post">
            <input type="hidden" value="@Model.TeamBase.TeamBaseId" name="teamBaseId" />
            <input class="btn btn-primary" type="submit" value="Generate VGC Teams" />
        </form>
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary" asp-controller="TeamBase" asp-action="CreateTeam">Return to Team Builder</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary" asp-controller="Home" asp-action="ContentHub">Return to Content Hub</a>
    </div>
</div>
