@model List<TeamBase>
@{
    ViewBag.Title = "Display All Base Teams";
}
    <div class="container">
        <h3 class="text-align-center">Available Teams</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Team Name</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Pokemon One</th>
                    <th scope="col">Pokemon Two</th>
                    <th scope="col">Pokemon Three</th>
                    <th scope="col">Pokemon Four</th>
                    <th scope="col">Pokemon Five</th>
                    <th scope="col">Pokemon Six</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model)
                {
                   <tr>
                       <td scope="row">@t.TeamBaseName</td>
                       <td>@t.UserId</td>
                       <td>@t.PokemonOne.PokemonName</td>
                       <td>@t.PokemonTwo.PokemonName</td>
                       <td>@t.PokemonThree.PokemonName</td>
                       <td>@t.PokemonFour.PokemonName</td>
                       <td>@t.PokemonFive.PokemonName</td>
                       <td>@t.PokemonSix.PokemonName</td>
                       <td>
                           <form id="@t.TeamBaseId" asp-controller="TeamBase" asp-action="AnalyzeTeam" method="post">
                               <input type="hidden" value="@t.TeamBaseId" name="teamBaseId" />
                               <input class="btn btn-primary" type="submit" value="Analyze Team" />
                           </form>
                       </td>
                   </tr>
                }
            </tbody>
        </table>
    </div>